
@font-face {
  font-family: 'Kallisto';
  src: url('../fonts/Kallisto.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bahamas';
  src: url('../fonts/Bahamas.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('../fonts/Golos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frankfurt';
  src: url('../fonts/Frankfurt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Laichs';
  src: url('../fonts/Laichs.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*::selection {
  background-color: none;
  color: black;
}

.scrollHidden::-webkit-scrollbar {
  width: 0;
}

.scrollIs::-webkit-scrollbar {
  width: 12px;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
  color:black;
}


a {
  text-decoration: none;
   !important
}

a:hover {
  text-decoration: none;
   !important
}

a:active {
  text-decoration: none;
   !important
}

a:visited {
  color: none;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #0E0C0F;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: black;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.bgSection0 {
  background-color: #0E0C0F;
}

.bgSection1 {
  background-color: #F3F3F3;
}

.bgSection2 {
  background-color: #0E0C0F;
}

.bgSection3 {
  background-color: #F3F3F3;
}

.bgContainer3 {
  background-color: #F3F3F3;
  background-image: url(../images/Reptile.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
}

.textFontMain {
  font-family: Hyperspace;
  text-align: center;
  color: #f8f8f2;
  font-size: 8vh;
}

.textFontHeaderLanding {
  font-family: Bahamas;
  text-align: center;
  color: black;
  font-size: 7vh;
}

.textFontInfoLanding {
  font-family: Chanel;
  text-align: center;
  color: black;
  font-size: 3vh;
}

.textFontHeaderLandingWhite {
  font-family: Bahamas;
  text-align: center;
  color: black;
  font-size: 7vh;
}

.textFontInfoLandingWhite {
  font-family: Chanel;
  text-align: center;
  color: #f8f8f2;
  font-size: 3vh;
}

.MainLogo {
  margin-top: 7vh;
  height: 35vh;
}

.MouseGIF {
  animation: MouseOpacity 2s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 1.3s;
  opacity: 0;
  margin-top: 20vh;
  height: 14vh;
}

.pe4enkaImage {
  height: 100vh;
}

.secondPageRow1 {
  height: 25vh;
}

.secondPageRow2 {
  height: 75vh;
}

.secondPageCol1 {
  margin-top: 20vh;
}

.thirdPageRow1 {
  height: 25vh;
}

.thirdPageRow2 {
  height: 75vh;
}

.thirdPageCol1 {
  margin-top: 20vh;
}

.landingButton {
  padding-top: 8px;
  padding-left: 34px;
  padding-right: 34px;
  color: black;
  background-color: #f8f8f2;
  border-radius: 35px;
  transition: 0.5s;
  text-decoration: none;
}

.landingButton:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0 0 20px #f8f8f2;
  text-decoration: none;
}

.landingButton:active {
  background-color: #B899BF;
  color: #f8f8f2;
  box-shadow: 0 0 20px #B899BF;
  text-decoration: none;
}

.bgSelection {
  background-color: #FBFBFB;
  height: 100vh;
}

.bgFeedback {
  background-color: black;

}

.littleSections {
  height: 100%;
  color: black;
  margin-top: 3vh;
}

.ls1 {
  height: 100%;
  background-image: url(../images/note.png);
  background-repeat: no-repeat;
  background-size: 130%;
  opacity: 0.7;
  filter: blur(0);
  transition: 0.5s;
}

.lst1 {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  text-shadow: 0 0 15px black, 0 0 15px black;
}

.lst2 {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  text-shadow: 0 0 15px black, 0 0 15px black;
}

.lst3 {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  text-shadow: 0 0 15px black, 0 0 15px black;
}

.lst4 {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  text-shadow: 0 0 15px black, 0 0 15px black;
}

.littleSections:hover .ls1 {
  filter: blur(3px);
  background-size: 140%;
  transition: 0.5s;
}

.littleSections:hover .lst1 {
  transform: scale(1.3);
  transition: 0.5s;
}

.littleSections:hover .ls2 {
  filter: blur(3px);
  background-size: 110%;
  transition: 0.5s;
}

.littleSections:hover .lst2 {
  transform: scale(1.3);
  transition: 0.5s;
}

.littleSections:hover .ls3 {
  filter: blur(3px);
  background-size: 110%;
  transition: 0.5s;
}

.littleSections:hover .lst3 {
  transform: scale(1.3);
  transition: 0.5s;
}

.littleSections:hover .ls4 {
  filter: blur(3px);
  background-size: 125%;
  transition: 0.5s;
}

.littleSections:hover .lst4 {
  transform: scale(1.3);
  transition: 0.5s;
}

.ls2 {
  height: 100%;
  background-image: url(../images/phone.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.7;
  filter: blur(0);
  transition: 0.5s;
}

.ls3 {
  height: 100%;
  background-image: url(../images/sas.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.7;
  filter: blur(0);
  transition: 0.5s;
}

.ls4 {
  height: 100%;
  background-image: url(../images/types.jpg);
  background-repeat: no-repeat;
  background-size: 115%;
  opacity: 0.7;
  filter: blur(0);
  transition: 0.5s;
}

.sideMenu {
  background-color: #6268FF;
  height: 92vh;
}

.sideMenuPersonal {
  background-color: white;
  height: 92vh;
}

.backButtonOnMenu {
  height: 8vh;
  background-color: #FF7272;
  font-family: Bahamas;
  font-size: 2vw;
  text-align: center;
  text-decoration: none;
  color: #712F2F;
}

.backButtonOnMenu a {
  color: #712F2F;
  transition: 0.5s;
}

.backButtonOnMenu a:hover {
  color: black;
  transition: 0.5s;
}

.backButtonOnMenu2 {
  height: 10vh;
  background-color: #FF7272;
  font-family: Bahamas;
  font-size: 7vh;
  text-align: center;
  text-decoration: none;
  color: #712F2F;
  margin-bottom: 20px
}

.backButtonOnMenu2 a {
  color: #712F2F;
  transition: 0.5s;
}

.backButtonOnMenu2 a:hover {
  color: black;
  transition: 0.5s;
}

.SCPMenuHeader {
  font-family: Bahamas;
  font-size: 2vw;
  text-align: center;
  color:white;
}

.SCPMenuHeaderPersonal {
  font-family: Bahamas;
  font-size: 30px;
  text-align: center;
  color:#6268FF;
}

.SCPMenuPoints {
  font-family: Golos;
  font-size: 18px;
  text-align: left;
  color: white; !important
  transition: 0.5s;
  text-decoration: none;
  word-wrap: break-word;
   !important width: 100%;


}


:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.SCPMenuPoints a {
  color: white;
  transition: 0.5s;
  background-color: none;
}

.SCPMenuPoints a:hover {
  color: #FF7272;
  transition: 0.5s;
  transform: scale(1.05);
  cursor: pointer;
   !important
}

.CatalogueHeader {
  font-family: Bahamas;
  font-size: 5vw;
  margin-top: 5vh;
  text-align: left;
}

.CatalogueFastInfo {
  font-family: Chanel;
  font-size: 22px;
  text-align: left;
}

.MainTextStyleCatalogue {
  font-family: Chanel;
  font-size: 2vh;
  text-align: left;
  margin: 0;
  padding: 0;
}

.btnLink {
  transition: 0.5s;
}

.btnLink:hover {
  color: black;
  transition: 0.5s;
}

.SCPImage {
  height: 35vh;
  box-shadow: 0 0 20px white;
  border-radius: 25px;
}

.MainTextContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 89vh;
  border-bottom: none;
  font-family: Golos;
}

.MainTextContainerPersonal {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 89vh;
  border-bottom: none;
  font-family: Golos;
}

.MainTextTitle {
  font-family: Chanel;
  font-size: 45px;
  text-align: left;
  width: 50%;
}

.MainTextTitleFigure {
  background-color: #3a3633;
  height: 100%;
  width: 30px;
  margin-left: 3.5vw;
}

.SecondaryTextTitle {
  font-family: Bahamas;
  font-size: 50px;
  text-align: center;
}

.firstLevel {
  color: #61ffbb
}

.secondLevel {
  color: #72da7f
}

.thirdLevel {
  color: #e2e788
}

.fourthLevel {
  color: #e7c188
}

.fifthLevel {
  color: #ef7a57
}

.safe {
  color: #84f0c1
}

.euclid {
  color: #e1cd89
}

.keter {
  color: #da778f
}

.thaumiel {
  color: #aa53b2
}

.neutralized {
  color: #949494
}

.overCrossed {
  text-decoration: line-through;
}

.secretText {
  transition: 0.5s;
  color: black;
  background-color: black;
}

.secretText:hover {
  transition: 0.5s;
  color: #e67f82;
  background-color: #131313;
}

.linkToAnotherSCP {
  font-weight: bold;
  color: pink;
  cursor: pointer;
}

.headImage {
  background-image: url(../images/space.png);
  height: 10vh;
}

.centerText {
  text-align: center;
}

.specialHover {
  transition: 0.5s;
  cursor: pointer;
}

.specialHover:hover {
  color: #da778f;
  transition: 0.5s;
}

.form {
  width: 50vw;
}

.formInputs {
width:30vw;
height:5vh;
margin-bottom: 1vh;
}

.formTextArea {
width:50vw;
margin-bottom: 1vh;
}

.titleOfClasses {
  background-color: #FF7272;
  color:#131313;
  font-family: Umbrella;
  font-size: 60px;
  margin-bottom: 3vh;
}

.closebutton {
  background-color: #FF7272;
  color:white;
  font-family: Chanel;
  font-size: 3vh;
  margin-top: 2vh;
}

.newMainTitle {
  color:black;
  font-size: 5vh;
}

.newHeader {
  font-family: Kallisto;
  font-size: 5vh;
  margin-top: 1vh;
  height: 10vh;
}

.newHeaderPersonal {
  font-family: Kallisto;
  font-size:26px;
  text-align:center;
  line-height:27px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.imagesForRegistry {
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagesForRegistryP {
  width: 92vw;
  margin-top: 20px;
  margin-bottom: 20px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);

}

@keyframes MouseOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

@media (max-width: 1600px) {
  .SCPImage {
    height: 37vh;
  }
}

@media (min-width: 1920px) {
  .SCPImage {
    height: 35vh;
  }
}

.secondslidedisplaytrue {
  display:none;
}

@media (min-width: 0) and (max-width:1266px) {

.secondslidedisplaynone {
  display: none;
}
.secondslidedisplaytrue {
  display:block;
}
}

.displayTrue {
  display:none;
}

@media (min-width: 0) and (max-width:576px) {
  .dontDisplay {
    display:none;
  }

  .displayTrue {
    display: block;
  }

  .SCPMenuHeader {
    font-size: 30px;
  }

  .backButtonOnMenu {
    font-size: 28px;
  }
}

@media (min-width: 577px) and (max-width:768px) {}

@media (min-width: 768px) and (max-width:992px) {}

@media (min-width: 992px) and (max-width:1200px) {}

  /* MOBILE PERSONAL STYLES */

.mobilePersCont {
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
